html,body{
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    flex-direction: column;
}


h1 {
    animation: type 2s steps(28), blink 1s infinite;
    overflow: hidden;
    white-space: nowrap;
    width: 423px;
    border-right: black 3px solid;
}



@keyframes type {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.fadeIn {
  animation: fadeIn 5s;
}


@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
